# Do not change the line endings by default
* -text

# Explicitly declare text files we want to always be normalized and converted
# to native line endings on checkout.
*.c text
*.csv text
*.h text
*.htm* text
*.md text
*.mo text
*.mos text
*.order text
*.py text
*.txt text
*.yml text
.gitattributes text
.gitignore text
.mailmap text
LICENSE text
